/* -------------------- */
/* Resets */
/* -------------------- */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
  padding: 0;
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* -------------------- */
/* Custom Properties */
/* -------------------- */

:root {
  --bg-color-dark: #18171f;
  --bg-color-accent-dark: #24232c;
  --strength-strong: #a4ffaf;
  --strength-moderate: #f8cd65;
  --strength-weak: #fb7c58;
  --strength-minimal: #f64a4a;
  --typography-light: #e6e5ea;
  --typography-dull: #817d92;
}

/* -------------------- */
/* Typography */
/* -------------------- */

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../Fonts/JetBrainsMono-Regular.eot');
  src: url('../Fonts/JetBrainsMono-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../Fonts/JetBrainsMono-Regular.woff2') format('woff2'),
    url('../Fonts/JetBrainsMono-Regular.woff') format('woff'),
    url('../Fonts/JetBrainsMono-Regular.ttf') format('truetype'),
    url('../Fonts/JetBrainsMono-Regular.svg#JetBrainsMono-Regular')
      format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../Fonts/JetBrainsMono-Italic.eot');
  src: url('../Fonts/JetBrainsMono-Italic.eot?#iefix')
      format('embedded-opentype'),
    url('../Fonts/JetBrainsMono-Italic.woff2') format('woff2'),
    url('../Fonts/JetBrainsMono-Italic.woff') format('woff'),
    url('../Fonts/JetBrainsMono-Italic.ttf') format('truetype'),
    url('../Fonts/JetBrainsMono-Italic.svg#JetBrainsMono-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

.heading-l {
  font-size: 2rem;
  line-height: 2.75rem;
}
.heading-m {
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.body-text {
  font-size: 0.75rem;
  line-height: 1.5rem;
}

/* -------------------- */
/* General */
/* -------------------- */

body {
  font-family: 'JetBrains Mono';
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-dark);
}

input[type='checkbox'] {
  background-color: red;
}

.container {
  width: 95vw;
  max-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: var(--typography-dull);
  margin-bottom: 0.75rem;
}
#password-output {
  background-color: grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  background-color: var(--bg-color-accent-dark);
  padding: 0.75rem 1rem;
}

#password-output-string {
  color: var(--typography-dull);
}

.no-copy {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.password-config {
  padding: 1rem 1rem;
  width: 100%;
  background-color: var(--bg-color-accent-dark);
}

#generate {
  width: 100%;
  background-color: var(--strength-strong);
  border: 2px solid var(--strength-strong);
  padding: 0.5rem 0;
  cursor: pointer;
}

#generate:hover {
  background-color: var(--bg-color-accent-dark);
  color: var(--strength-strong);
}

#strength-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border: 2px solid var(--bg-color-dark);
  background-color: var(--bg-color-dark);
}

/* #character-length {
  appearance: none;
  background: none;
  cursor: pointer;
} */
#character-length-label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

#character-length-display {
  color: var(--strength-strong);
}

#copy-btn {
  cursor: pointer;
  color: var(--strength-strong);
}

#copy-btn:hover {
  color: var(--typography-light);
}

#strength-bar-container {
  display: flex;
  flex-direction: row;
}
.strength-bar {
  height: 1.5rem;
  width: 10px;
  border: 2px solid white;
}

.strength-bar + .strength-bar {
  margin-left: 0.25rem;
}

.option {
  display: flex;
  flex-direction: row;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.option:hover input ~ .checkmark {
  border: 2px solid var(--strength-strong);
}

.option input:checked ~ .checkmark {
  background-color: var(--strength-strong);
  border: 2px solid var(--strength-strong);
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.option input:checked ~ .checkmark:after {
  display: block;
}

.option .checkmark:after {
  left: 0.25rem;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid var(--bg-color-dark);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1rem;
  width: 1rem;
  border: 2px white solid;
}

.slider-container {
  position: relative;
  width: 300px;
}

.slider {
  -appearance: none;
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: linear-gradient(
    to right,
    var(--strength-strong) 0%,
    var(--strength-strong) 50%,
    var(--bg-color-dark) 50%,
    var(--bg-color-dark) 100%
  );
  outline: none;

  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--typography-light);
  border: 2px solid var(--typography-light);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--typography-light);
  border: 2px solid var(--typography-light);
  cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
  background: var(--bg-color-dark);
  border: 2px solid var(--strength-strong);
}
.slider::-webkit-slider-thumb:active {
  background: var(--bg-color-dark);
  border: 2px solid var(--strength-strong);
}

.slider::-moz-range-thumb:hover {
  background: var(--bg-color-dark);
  border: 2px solid var(--strength-strong);
}

.slider::-moz-range-thumb:active {
  background: var(--bg-color-dark);
  border: 2px solid var(--strength-strong);
}

.slider-container {
  margin-bottom: 1rem;
}

.copy-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.copy-confirm {
  margin-right: 0.5rem;
}

.green {
  color: var(--strength-strong);
}

.light {
  color: var(--typography-dull);
}
